section
  h3 Pugged Reveal.js
  p
    img(src='http://i.imgur.com/PcgEunn.jpg', height='300')
  p
    small(data-markdown)
      | Fork from [Reveal.js](http://lab.hakim.se/reveal-js/#/) By Dương Vì Phát
